<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
   
  </head>

  <body>
  
    <%= render "partials/navigation" %>
    <%= yield %>
  </body>
  <p class="notice"><%= notice%></p>
  <p class="alert"><%= alert%></p>
</html>
